@inject BLL.Interfaces.IAssetService _assetService;
@using System.Security.Claims;
@{
    @model BOL.TransactionBOL;
    Guid userId = Guid.Parse(User.FindFirst(ClaimTypes.NameIdentifier).Value.ToString());
    BOL.AssetBOL assetBOL = await _assetService.GetById(Guid.Parse(ViewData["assetId"].ToString()));
    ViewData["Title"] = $"Buy {assetBOL.ShortName}";
    double CashOnHand = await _assetService.GetAmountByAssetClassForUser(BOL.Enums.EAssetClass.Cash, userId);
}


<!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent   ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle d-inline">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="index.html">Fantasy Hedge Fund</a>
                    </div>
                  
                </div>
            </nav>
          
            <!-- End Navbar -->
            <div class="content">
              <div >
                <h2 class="main-heading main-heading-leaderboard text-white">Buy @assetBOL.ShortName</h2>
              </div>
               
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                           
                            <div class="card-body">
                    <form action="~/asset/buysubmit" method="post">
                                <div class="row">
                                  <div class="col-md-12 pr-md-1 px-3">
                                    <div class="form-group">
                                    <label class="form-label">Asset Name</label>
                                    <input type="text" class="form-control" asp-for="AssetId" value="@assetBOL.Id" readonly />
                                     </div>
                                  </div>
                                  <div class="col-md-12 pr-md-1 px-3">
                                    <div class="form-group">
                                    <label class="form-label">Quantity</label>
                                    <input type="number" step="0.00000001" min="0" max="@(CashOnHand / assetBOL.Price)" class="form-control" asp-for="Quantity" />

                                </div>
                                  </div>
                                  <div class="col-md-12 pr-md-1">
                                    <div class="form-group">
                                    <label class="form-label">Current Price</label>
                                    <input type="number" step="0.01" class="form-control" asp-for="Price" value="@assetBOL.Price" readonly />
                                    </div>
                                  </div>
                                  <div class="col-md-12 pr-md-1">
                                    <div class="form-group">
                                    <label class="form-label">Total Amount</label>
                                    <input type="number" step="0.01" class="form-control" id="TotalAmount" readonly value="0">
                                    </div>
                                  </div>
                                 
                              </form>
                            </div>
                            <div class="card-footer">
                    <button type="submit" class="btn btn-success w-100">Confirm</button>
                    <button type="submit" class="btn btn-primary w-100 mt-2">To Dashboard</button>
                            </div>
                          </div>
                    </div>
                </div>

            
            </div>

@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $("#Quantity").on("input", function() {
            $("#TotalAmount").val($("#Price").val()*$("#Quantity").val());
        });
    });
    $(document).ready(function () {
        $("#Price").on("input", function() {
            $("#TotalAmount").val($("#Price").val()*$("#Quantity").val());
        });
    });
</script>
}