@inject BLL.Interfaces.IAssetService _assetService;
@using System.Security.Claims;
@{
    @model BOL.TransactionBOL;
    Guid userId = Guid.Parse(User.FindFirst(ClaimTypes.NameIdentifier).Value.ToString());
    BOL.AssetBOL assetBOL = await _assetService.GetById(Guid.Parse(ViewData["assetId"].ToString()));
    ViewData["Title"] = $"Buy {assetBOL.ShortName}";
    double CashOnHand = await _assetService.GetAmountByAssetClassForUser(BOL.Enums.EAssetClass.Cash, userId);
}

<div class="row">
    <div class="col-12">
        <h1>Buy @assetBOL.ShortName</h1>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6 col-12">
        <form action="~/asset/buysubmit" method="post">
            <div class="mb-3">
                <label class="form-label">Asset Name</label>
                <input type="text" class="form-control" asp-for="AssetId" value="@assetBOL.Id" readonly />
            </div>
            <div class="mb-3">
                <label class="form-label">Quantity</label>
                <input type="number" step="0.00000001" min="0" max="@(CashOnHand / assetBOL.Price)" class="form-control" asp-for="Quantity" />
            </div>
            <div class="mb-3">
                <label class="form-label">Current Price</label>
                <input type="number" step="0.01" class="form-control" asp-for="Price" value="@assetBOL.Price" readonly />
            </div>
            <div class="mb-3">
                <label class="form-label">Total Amount</label>
                <input type="number" step="0.01" class="form-control" id="TotalAmount" readonly value="0">
            </div>
            <div class="mb-3">
                <button class="btn btn-success w-100" type="submit">Confirm</button>
                <a href="~/" class="btn btn-primary w-100 mt-2" type="submit">To Dashboard</a>
            </div>
        </form>
    </div>
</div>

@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $("#Quantity").on("input", function() {
            $("#TotalAmount").val($("#Price").val()*$("#Quantity").val());
        });
    });
    $(document).ready(function () {
        $("#Price").on("input", function() {
            $("#TotalAmount").val($("#Price").val()*$("#Quantity").val());
        });
    });
</script>
}