@{
    ViewData["Title"] = $"Trade";
}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent   ">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
                <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <a class="navbar-brand" href="index.html">Fantasy Hedge Fund</a>
        </div>

    </div>
</nav>

<!-- End Navbar -->
<div class="content">
    <div>
        <h2 class="main-heading main-heading-leaderboard text-white">Trade</h2>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card ">
                <form action="">
                    <input type="text" placeholder="Search..." name="" id="">
                </form>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tradeTable" class="table tablesorter ">
                            <thead class=" text-primary">
                            <th>
                                Asset Class
                            </th>
                            <th>
                               Asset Name
                            </th>
                            <th>
                                Short Name
                            </th>
                            <th>
                                Price
                            </th>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="row">
    <div class="col-12">
        <h1>Trade</h1>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <table id="tradeTable" class="table table-hover bg-white">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Asset Class</th>
                    <th scope="col">Asset Name</th>
                    <th scope="col">Short Name</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $("#tradeTable").DataTable({
            serverSide: true,
            processing: true,
            ordering: false,
            ajax: {
               url: "trade/getassets",
               type: "POST",
               datatype: "json"
            },
            dom: 'Plfrtip',
            columns: [
                {data: "class"},
                {data: "name"},
                {data: "shortName"},
                {data: "price"},
                {data: ""}
            ],
            columnDefs: [
                {
                targets: [0], render: function (a, b, data, d) {
                    return data["class"].toString().replace(0,"Crypto").replace(1,"Stock").replace(2,"Cash");}
                },
                {
                targets: [4], render: function (a, b, data, d) {
                            return '<a href="' + data.id + '/buy" class="btn-blue">Buy</a>';
                        }
                },
                {
                  "defaultContent": "",
                  "targets": "_all"
                }
            ]
        });
    });
</script>
}