@{
    ViewData["Title"] = "Home";
}

@*<div class="p-4 text-center">
    <img class="img-fluid d-none d-md-block" src="~/img/desktop-logo.png" />
    <img class="img-fluid d-md-none" src="~/img/mobile-logo.png" />
    <h3 class="display-6 mt-3">Welcome to Fantasy Hedge Fund</h3>
    <h5><a asp-area="Identity" asp-page="/Account/Login">Login</a> or <a asp-area="Identity" asp-page="/Account/Register">register</a> to access the application</h5>
</div>*@

<div class="p-4 text-center d-none d-md-block">
    <img class="img-fluid d-none d-md-block" src="~/img/desktop-logo.png" />
    <h3 class="display-6 mt-3">Welcome to Fantasy Hedge Fund</h3>
    <h5><a asp-area="Identity" asp-page="/Account/Login">Login</a> or <a asp-area="Identity" asp-page="/Account/Register">register</a> to access the application</h5>
</div>

<div class="p-4 text-center d-md-none">
    <img class="img-fluid d-md-none" src="~/img/mobile-logo.png" />
    <h3 class="display-3 mt-3">Welcome to Fantasy Hedge Fund</h3>
    <h4><a asp-area="Identity" asp-page="/Account/Login">Login</a> or <a asp-area="Identity" asp-page="/Account/Register">register</a> to access the application</h4>
</div>


